html, body, div, span,input, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,button, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,*{margin:0;padding:0;border:none;list-style:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-ms-tap-highlight-color: rgba(0,0,0,0); -moz-tap-highlight-color: rgba(0,0,0,0); box-sizing:border-box; -webkit-box-sizing:border-box; }
a{ text-decoration:none;outline:none;blur:expression(this.onFocus=this.blur());color:#333;}
img{ display:block;width: 100%;}
html{width:100%; height:100%;}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#333; overflow-scrolling:touch; -webkit-overflow-scrolling:touch; max-width:800px; margin:0 auto; font-size:12px; -webkit-text-size-adjust:none;}
input,textarea{-webkit-appearance: none;}

.level-con{padding:6% 5%;}
.layoutBox img{ width:100%;}
.layoutBox .level-text{ padding:5% 0px;}
.layoutBox .level-text p{ font-size:1.2em; color:#333; line-height:1.7em;}
.level-list{ width:100%; padding-top:6%;}
.level-list img{ width:100%;}
@media screen and (-webkit-device-pixel-ratio:2) and (min-width: 340px){
	body{ font-size:12px;}
}
@media screen and (-webkit-device-pixel-ratio:2) and (min-width: 375px){
	body{ font-size:13px;}
}
@media(min-width:400px){
	body{ font-size:15px;}
}
@media(min-width:540px){
	body{ font-size:18px;}
}
@media(min-width:700px){
	body{ font-size:20px;}
}

